html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgba(var(--b3f, 250, 250, 250), 1) !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (max-width: 600px) {
  html,
  body {
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
  }

  .ant-card {
    font-size: 12px;
  }
  .ant-card-meta-title {
    font-size: 14px;
  }
  .ant-card-actions > li > span {
    font-size: 12px !important;
  }
}
